* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #dee2e8; /* Background light gray */
    color: #090909; /* Text color */
}

.controls-container {
    display: flex;
    gap: 15px; /* Adds space between the input and the dropdown */
    margin-bottom: 30px;
}


select, input { /* Input */
    padding: 12px 16px;
    border: 1px solid #d8dee8; 
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

select:focus, input:focus {
    border-color: #d32f2f; /* Highlight when focused */
    box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.1); /* Subtle red glow */
}

.result-item { /* Load Item Results */
    background: rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}